<script type="text/javascript">

    RED.nodes.registerType('eedomus out',{
        category: 'eedomus',
        color: '#a6bbcf',
        defaults: {
            eedomusCred: {type:"eedomus-credentials", required:true},
            periph_id: {value:"", required:true},
            periph_name: {value:"", required:true},
        },
        inputs:1,
        outputs:0,
        icon: "eedomus.png",
        align: "right",
        label: function() { return this.periph_name || "eedomus out"; },
        oneditprepare: function() {
            
            var id = this.id;
            try { $("#node-input-periph_id").autocomplete( "destroy" ); } catch(err) { }

            $("#node-lookup-periph_id").click(function() {
                $("#node-config-lookup-periph_id").addClass('disabled');
                $.getJSON('eedomus-periph-list/' + id , function(data) {
                    $("#node-lookup-periph_id").removeClass('disabled');
   
                    var periphs = $.map(data.body, (value, key) => {
                                return {
                                        label: value.name + ' - ' + value.periph_id,
                                        name: value.name,
                                        value: value.periph_id
                                }});

                    $("#node-input-periph_id").autocomplete({
                        source:periphs,
                        minLength:0,
                        close: function( event, ui ) { $("#node-input-periph_id").autocomplete( "destroy" ); },
                        select: function (a, b) {
                            $('#node-test-result').text(JSON.stringify(b));
                            $('#node-input-periph_name').val(b.item.name);
                        }
                    }).autocomplete("search","");                    
                    
                }).error(function(err) { $('#node-test-result').text(JSON.stringify(err)); });
            });            
        }
    });
</script>
<script type="text/x-red" data-template-name="eedomus out">
    <div class="form-row">
        <label for="node-input-eedomusCred"><i class="fa fa-user"></i><span> Eedomus</span></label>
        <input type="text" id="node-input-eedomusCred">
    </div>    
    <div class="form-row">
        <label for="node-input-periph_name"><i class="fa fa-user"></i><span> Periph_name</span></label>
        <input type="text" id="node-input-periph_name">
    </div>        
    <div class="form-row">
        <label for="node-input-periph_id"><i class="icon-tag"></i> <span>Periph_id</span></label>
        <input type="text" id="node-input-periph_id" style="width:60%;">
        <a id="node-lookup-periph_id" class="btn"><i id="node-lookup-periph_id-icon" class="fa fa-search"></i></a>
    </div>
    <div class="form-tips" id="node-test-result"></div>

</script>

<script type="text/javascript">
    RED.nodes.registerType('eedomus-credentials', {
        category: 'config',
        defaults: {
            name: { type: "text", value:"eedomus API" },
        },
        credentials: {
            api_user: { type: "password", required:true },
            api_secret: { type: "password", required:true },
            url: { type: "text", required:true }
        },
        label: function() { return this.name || "eedomus-credentials"; },  
        exportable: false,
        oneditprepare: function() {

        }
    });
</script>
<script type="text/x-red" data-template-name="eedomus-credentials">
        <div class="form-row">
            <label for="node-config-input-name"><i class="fa fa-user"></i> <span>name</span></label>
            <input type="text" id="node-config-input-name">
        </div>
        <div class="form-row">
            <label for="node-config-input-url"><i class="fa fa-user"></i> <span>url</span></label>
            <input type="text" id="node-config-input-url">
        </div>
        <div class="form-row">
            <label for="node-config-input-api_user"><i class="fa fa-user"></i> <span>api_user</span></label>
            <input type="password" id="node-config-input-api_user">
        </div>
        <div class="form-row">
            <label for="node-config-input-api_secret"><i class="fa fa-user"></i> <span>api_secret</span></label>
            <input type="password" id="node-config-input-api_secret">
        </div>
        <div class="form-tips" id="node-tips">Url de la box en local : <code>http://[IP]/api/</code><br/>Url de la box en Cloud : <code>http://api.eedomus.com/</code></div>
</script>

<script type="text/javascript">

    RED.nodes.registerType('eedomus in',{
        category: 'eedomus',
        color: '#a6bbcf',
        defaults: {
            eedomusCred: {type:"eedomus-credentials", required:true},
            periph_id: {value:""},
            periph_name: {value:""},
            onlyvalue:   {value: false},
        },
        inputs:1,
        outputs:1,
        icon: "eedomus.png",
        label: function() { return this.periph_name || "eedomus in"; },
        oneditprepare: function() {
            
            var id = this.id;
            try { $("#node-input-periph_id").autocomplete( "destroy" ); } catch(err) { }

            $("#node-lookup-periph_id").click(function() {
                $("#node-config-lookup-periph_id").addClass('disabled');
                $.getJSON('eedomus-periph-list/' + id , function(data) {
                    $("#node-lookup-periph_id").removeClass('disabled');
   
                    var periphs = $.map(data.body, (value, key) => {
                                return {
                                        label: value.name + ' - ' + value.periph_id,
                                        name: value.name,
                                        value: value.periph_id
                                }});

                    $("#node-input-periph_id").autocomplete({
                        source:periphs,
                        minLength:0,
                        close: function( event, ui ) { $("#node-input-periph_id").autocomplete( "destroy" ); },
                        select: function (a, b) {
                            $('#node-test-result').text(JSON.stringify(b));
                            $('#node-input-periph_name').val(b.item.name);
                        }
                    }).autocomplete("search","");                    
                    
                }).error(function(err) { $('#node-test-result').text(JSON.stringify(err)); });
            });            
        }
    });
</script>
<script type="text/x-red" data-template-name="eedomus in">
    <div class="form-row">
        <label for="node-input-eedomusCred"><i class="fa fa-user"></i><span> Eedomus</span></label>
        <input type="text" id="node-input-eedomusCred">
    </div>    
    <div class="form-row">
        <label for="node-input-periph_name"><i class="fa fa-user"></i><span> Periph_name</span></label>
        <input type="text" id="node-input-periph_name">
    </div>        
    <div class="form-row">
        <label for="node-input-periph_id"><i class="icon-tag"></i> <span>Periph_id</span></label>
        <input type="text" id="node-input-periph_id" style="width:60%;">
        <a id="node-lookup-periph_id" class="btn"><i id="node-lookup-periph_id-icon" class="fa fa-search"></i></a>
    </div>
    <div class="form-row">
        <label for="node-input-onlyvalue"><i class="fa fa-table"></i> Uniquement la valeur</label>
        <input type="checkbox" id="node-input-onlyvalue" value="array">
    </div>
    <div class="form-tips" id="node-test-result"></div>

</script>